<app-navbar></app-navbar>

<div class="container">
<h1 class="title is-2">Lista de novedades</h1>
<button class="button is-primary is-outlined" (click)="addNovedadForm()">Nuevo <span class="fas fa-plus" style="margin-left: 5px;"></span></button>
<button class="button is-dark is-outlined" style="margin-left: 5px;" [routerLink]="['/home']"><i class="fas fa-arrow-left" style="margin-right: 2px;"></i> Regresar</button>
<hr>

<div class="content">

<table class="table is-striped">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Titulo</th>
        <th>Fecha de publicación</th>
        <th>Descripcion</th>
        <th>Link</th>
        <th>Imagen</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let novedad of novedadService.novedades | paginate: {itemsPerPage: 10, currentPage: paginaActual}; index as i">
        <th>{{i+1}}</th>
        <td>{{novedad.titulo}}</td>
        <td>{{novedad.fechaPublicacion}}</td>
        <td>{{novedad.descripcion}}</td>
        <td>{{novedad.link}}</td>
        <td><img class="img-responsive" src="{{novedad.imagen}}" alt=""></td>
        <td>
            <button class="button is-warning is-outlined" (click)="updNovedadForm(novedad)"><span class="fas fa-edit"></span>Editar</button>
            <button class="button is-danger is-outlined" style="margin-top: 5px;" (click)="deleteNovedad(novedad._id)"><span class="fas fa-trash-alt"></span>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>

</div>

</div>

<div class="content">
    <ng-template [ngIf]="addNovedad">
        <div id="modal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Nueva novedad</p>
                    <button class="delete" aria-label="close" (click)="cerrarModal()"></button>
                </header>
                <section class="modal-card-body">

                    <form [formGroup]="postForm" (ngSubmit)='postNovedad()'>

                        <div class="field">
                            <label class="label">Titulo</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Ingresa el titulo de la novedad" formControlName="titulo">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Descripcion</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa una breve descripción" formControlName="descripcion"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Link</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa un link para redireccionar para mas info" formControlName="link">
                              <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                              </span>
                            </p>
                          </div>


                          <div class="file is-centered is-success is-boxed">
                            <label class="file-label">
                              <input class="file-input" accept="image/*" type="file" (change)="uploadFile($event)">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Sube una foto…
                                </span>
                              </span>
                            </label>
                          </div>

                          <div class="content">
                            <div class="columns is-mobile is-centered" style="margin-top: 20px">
                            <div class="card">
                              <div class="card-image">
                                <div class="preview" *ngIf="preview && preview !== null">                         
                                    <img class="is-centered" [src]="preview" width="200" height="100" style="max-height: 100px; max-width: 200px">
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                       
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <button class="button is-link">Crear</button>
                            </div>
                          </div>
                    </form>

                </section>
            </div>
        </div>
    </ng-template>
</div>


<div class="content">
    <ng-template [ngIf]="updNovedad">
        <div id="modalupd" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar novedades</p>
                    <button class="delete" aria-label="close" (click)="cerrarModalUpd()"></button>
                </header>
                <section class="modal-card-body">

                    <form [formGroup]="putForm" (ngSubmit)='putNovedad()'>
                        <input type="hidden" formControlName="_id" [(ngModel)]="novedadService.selectedNovedad._id">

                        <div class="field">
                            <label class="label">Titulo</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Ingresa el titulo de la novedad" formControlName="titulo" [(ngModel)]="novedadService.selectedNovedad.titulo">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Descripcion</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa una breve descripción" formControlName="descripcion" [(ngModel)]="novedadService.selectedNovedad.descripcion"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Link</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa un link para redireccionar para mas info" formControlName="link" [(ngModel)]="novedadService.selectedNovedad.link">
                              <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                              </span>
                            </p>
                          </div>

                          <input type="hidden" formControlName="image" [(ngModel)]="novedadService.selectedNovedad.imagen">

                          <div class="file is-centered is-success is-boxed">
                            <label class="file-label">
                              <input class="file-input" accept="image/*" type="file" (change)="updateFile($event)">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Sube una foto…
                                </span>
                              </span>
                            </label>
                          </div>

                          <div class="content">
                            <div class="columns is-mobile is-centered" style="margin-top: 20px">
                            <div class="card">
                              <div class="card-image">
                                <div class="preview" *ngIf="preview && preview !== null">                         
                                    <img class="is-centered" [src]="preview" width="200" height="100" style="max-height: 100px; max-width: 200px">
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>
                          
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <button class="button is-link">Actualizar</button>
                            </div>
                          </div>
                    </form>

                </section>
            </div>
        </div>
    </ng-template>
</div>