<body>

  <nav>
    <div class="nav-wrapper">
      <a [routerLink]="['/kimirina']" class="brand-logo">Kimirina App</a>
      <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/kimirina']">Inicio</a></li>
        <li><a href="#">Quienes somos?</a></li>
        <li><a [routerLink]="['/register']">Registrate</a></li>
        <li><a [routerLink]="['/login']" style="margin-right: 5px;">Inicia Sesión</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a [routerLink]="['/kimirina']">Inicio</a></li>
    <li><a href="#">Quienes somos?</a></li>
    <li><a [routerLink]="['/register']">Registrate</a></li>
    <li><a [routerLink]="['/login']">Inicia Sesión</a></li>
  </ul>
    
  <section>
    <div class="hero-body">
      <div class="column is-8 is-offset-2 register">
        <div class="columns">
          <div class="column left">
            <h1 class="title is-1">Kimirina App</h1>
            <h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero excepturi vero soluta odio optio sed.</p>
          </div>
          <div class="column right has-text-centered">
            <h1 class="title is-4">Crea tu cuenta</h1>
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
            <form>
              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="text" placeholder="Name">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="email" placeholder="Email">
                </div>
              </div>
              <button class="button is-block is-info is-fullwidth is-medium">Submit</button>
              <br />
              <small><em>Lorem ipsum dolor sit amet consectetur.</em></small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


</body>

<app-footer></app-footer>