
<footer class="page-footer">
    <div class="container">
    <div class="row">
        <div class="col l6 s12">
        <h5 class="white-text">Contactanos:</h5>
        <p class="grey-text text-lighten-4">Email: kimirina@kimirina.org</p>
        <p class="grey-text text-lighten-4">Telefonos: (02)2422-082 - 0899234462</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Nuestras redes:</h5>
            <ul>
              <li><a class="grey-text text-lighten-3"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
              <li><a class="grey-text text-lighten-3"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
              <li><a class="grey-text text-lighten-3"><i class="fa fa-twitter" aria-hidden="true"></i>Twiter</a></li>
            </ul>
          </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2020 Kimirina App
    </div>
    </div>
</footer>