<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/home']" class="brand-logo">Kimirina App</a>
        <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        <li><a style="margin-right: 5px;" (click)="logoutUsuario()"><i class="material-icons right">exit_to_app</i>Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a (click)="logoutUsuario()"><i class="material-icons left">exit_to_app</i>Cerrar Sesión</a></li>
</ul>