<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" [routerLink]="['/home']">
                    <img src="../../../assets/img/logo-kimirina.png" alt="Logo">
                </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
            <span></span>
            <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                            Cuenta
                        </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>