<section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <h1 class="title">404 Pagina no encontrada</h1>
          <p class="subtitle">Un error inesperado ha ocurrido. Por favor contacta con el dueño del sitio.</p>
          <a class="button is-primary is-outlined" [routerLink]="['/login']">Pagina Principal</a>
        </div>
        <div class="column has-text-centered">
          <img src="../../../assets/img/404-robot.gif" />
        </div>
      </div>
    </div>
  </section>