<app-navbar></app-navbar>

<body>
    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: gray;">Bienvenido al administrador de Kimirina App</h1><br>
          </div>
        </div>
        <div id="app" class="row">
          <div *ngFor="let cardData of cardsData" class="col s3">
            <div class="card">
              <div class="card-image">
                  <img src="{{cardData.image}}">
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 no-padding">{{cardData.title}}</p>
                    <p>
                    <p class="subtitle is-6">{{cardData.subtitle}}</p>
                  </div>
                </div>
                <div class="content">
                    {{cardData.content}}
                </div>
              </div>
              <div class="card-action">
                <button class="button is-info is-outlined" [routerLink]="[cardData.redirect]">Ingresar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
