<app-navbar></app-navbar>

<div class="container">
<h1 class="title is-2">Lista de productos y servicios</h1>
<div class="row">
  <div class="col s8 m11 l11">
    <a class="waves-effect waves-light btn deep-orange lighten-1" style="margin-left: 5px;" [routerLink]="['/home']"><i class="material-icons left">arrow_back</i>Regresar</a>
  </div>
  <div class="col s4 m1 l1">
    <a class="btn-floating btn waves-effect waves-light modal-trigger green" href="#modal1"><i class="material-icons">add</i></a>
  </div>
</div>
<hr>


<div class="content">

<table class="responsive-table highlight">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Observación</th>
        <th>Link</th>
        <th>Imagen</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productoService.productos | paginate: {itemsPerPage: 10, currentPage: paginaActual}; index as i">
        <th>{{i+1}}</th>
        <td>{{producto.titulo}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td style="max-width: 270px; overflow: auto">{{producto.observaciones}}</td>
        <td style="max-width: 200px; overflow: auto"><a href="{{producto.link}}" target="_blank">{{producto.link}}</a></td>
        <td><img class="img-responsive" style="max-width: 100px; max-height: 100px; min-width: 100px; min-height: 100px;" src="{{producto.imagen}}" alt=""></td>
        <td>
          <a class="btn-floating btn-small waves-effect waves-light modal-trigger yellow" (click)="updProductoForm(producto)"><i class="material-icons">mode_edit</i></a>
          <a class="btn-floating btn-small waves-effect waves-light red accent-4" (click)="deleteProducto(producto._id)"><i class="material-icons">delete</i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="paginaActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderCurrentLabel = "Estás en la página"></pagination-controls>

</div>

</div>

 
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nuevo</h4>
    <p>Crea un nuevo producto o servicio!</p>
    <hr>
    <div class="row">
      <form class="col s12" [formGroup]="postForm" (ngSubmit)='postProducto()' novalidate>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">title</i>
            <input id="titulo" type="text" class="validate" required minlength="6" maxlength="50" formControlName="titulo">
            <label for="titulo">Titulo</label>
            <div *ngIf="f.titulo.touched && !f.titulo.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.titulo.touched && f.titulo.errors || submitted && f.titulo.errors">
              <div *ngIf="f.titulo.errors.required">
                <span class="helper-text" style="color: #d50000;">El titulo es requerido</span>
              </div>
              <div *ngIf="f.titulo.errors.minlength">
                <span class="helper-text" style="color: #d50000;">El titulo debe contener al menos 6 caracteres</span>
              </div>
            </div>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">attach_money</i>
            <input id="precio" type="text" required class="validate" formControlName="precio">
            <label for="precio">Precio</label>
            <div *ngIf="f.precio.touched && !f.precio.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.precio.touched && f.precio.errors || submitted && f.precio.errors">
              <div *ngIf="f.precio.errors.required">
                <span class="helper-text" style="color: #d50000;">El precio es requerido</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">insert_link</i>
            <input id="link" type="url" required class="validate" formControlName="link">
            <label for="link">Url</label>
            <div *ngIf="f.link.touched && !f.link.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.link.touched && f.link.errors || submitted && f.link.errors">
              <div *ngIf="f.link.errors.required">
                <span class="helper-text" style="color: #d50000;">El link es requerido</span>
              </div>
              <div *ngIf="f.link.errors.pattern">
                <span class="helper-text" style="color: #d50000;">No es una URL valida</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">remove_red_eye</i>
            <textarea id="observacion" class="materialize-textarea" formControlName="observaciones"></textarea>
            <label>Observación</label>
            <div *ngIf="f.observaciones.touched && f.observaciones.errors || submitted && f.observaciones.errors">
              <div *ngIf="f.observaciones.errors.required">
                <span class="helper-text" style="color: #d50000;">Debe ingresar una observación</span>
              </div>
            </div>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">description</i>
            <textarea id="descripcion" class="materialize-textarea" formControlName="descripcion"></textarea>
            <label>Descripción</label>
            <div *ngIf="f.descripcion.touched && f.descripcion.errors || submitted && f.descripcion.errors">
              <div *ngIf="f.descripcion.errors.required">
                <span class="helper-text" style="color: #d50000;">Debe ingresar una descripción</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m12 l12">
            <div class="file-field input-field">
              <div class="btn-small">
                <span>Sube una imagen</span>
                <input type="file" accept="image/*" (change)="uploadFile($event)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Sube una imagen">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" [disabled]="!postForm.valid">Crear
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">  
      <a class="modal-close waves-effect waves-red btn red" (click)="cerrarModal()"></a>
  </div>
</div>

<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nuevo</h4>
    <p>Crea un nuevo producto o servicio!</p>
    <hr>
    <div class="row">
      <form class="col s12" [formGroup]="putForm" (ngSubmit)='putProducto()' novalidate>
        <div class="row">
          <input type="hidden" formControlName="_id" [(ngModel)]="productoService.selectedProducto._id">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">title</i>
            <input id="titulo1" type="text" class="validate" required minlength="6" maxlength="50" formControlName="titulo" [(ngModel)]="productoService.selectedProducto.titulo">
            <label for="titulo1">Titulo</label>
            <div *ngIf="f.titulo.touched && !f.titulo.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.titulo.touched && f.titulo.errors || submitted && f.titulo.errors">
              <div *ngIf="f.titulo.errors.required">
                <span class="helper-text" style="color: #d50000;">El titulo es requerido</span>
              </div>
              <div *ngIf="f.titulo.errors.minlength">
                <span class="helper-text" style="color: #d50000;">El titulo debe contener al menos 6 caracteres</span>
              </div>
            </div>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">attach_money</i>
            <input id="precio1" type="text" required class="validate" formControlName="precio" [(ngModel)]="productoService.selectedProducto.precio">
            <label for="precio1">Precio</label>
            <div *ngIf="f.precio.touched && !f.precio.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.precio.touched && f.precio.errors || submitted && f.precio.errors">
              <div *ngIf="f.precio.errors.required">
                <span class="helper-text" style="color: #d50000;">El precio es requerido</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">insert_link</i>
            <input id="link1" type="url" required class="validate" formControlName="link" [(ngModel)]="productoService.selectedProducto.link">
            <label for="link1">Url</label>
            <div *ngIf="f.link.touched && !f.link.errors">
              <span class="helper-text" style="color: #4CAF50;">Bien</span>
            </div>
            <div *ngIf="f.link.touched && f.link.errors || submitted && f.link.errors">
              <div *ngIf="f.link.errors.required">
                <span class="helper-text" style="color: #d50000;">El link es requerido</span>
              </div>
              <div *ngIf="f.link.errors.pattern">
                <span class="helper-text" style="color: #d50000;">No es una URL valida</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">remove_red_eye</i>
            <textarea id="observacion1" class="materialize-textarea" formControlName="observaciones" [(ngModel)]="productoService.selectedProducto.observaciones"></textarea>
            <label>Observación</label>
            <div *ngIf="f.observaciones.touched && f.observaciones.errors || submitted && f.observaciones.errors">
              <div *ngIf="f.observaciones.errors.required">
                <span class="helper-text" style="color: #d50000;">Debe ingresar una observación</span>
              </div>
            </div>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">description</i>
            <textarea id="descripcion1" class="materialize-textarea" formControlName="descripcion" [(ngModel)]="productoService.selectedProducto.descripcion"></textarea>
            <label>Descripción</label>
            <div *ngIf="f.descripcion.touched && f.descripcion.errors || submitted && f.descripcion.errors">
              <div *ngIf="f.descripcion.errors.required">
                <span class="helper-text" style="color: #d50000;">Debe ingresar una descripción</span>
              </div>
            </div>
          </div>
          <input type="hidden" formControlName="image" [(ngModel)]="productoService.selectedProducto.imagen">
        </div>
        <div class="row">
          <div class="input-field col s6 m12 l12">
            <div class="file-field input-field">
              <div class="btn-small">
                <span>Sube una imagen</span>
                <input type="file" accept="image/*" (change)="updateFile($event)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Sube una imagen">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" [disabled]="!putForm.valid">Actualizar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">  
      <a class="modal-close waves-effect waves-red btn red" (click)="cerrarModalUpd()"></a>
  </div>
</div>
