<app-navbar></app-navbar>

<div class="container">
<h1 class="title is-2">Lista de productos y servicios</h1>
<button class="button is-primary is-outlined" (click)="addProductoForm()">Nuevo <span class="fas fa-plus" style="margin-left: 5px;"></span></button>
<button class="button is-dark is-outlined" style="margin-left: 5px;" [routerLink]="['/home']"><i class="fas fa-arrow-left" style="margin-right: 2px;"></i> Regresar</button>
<hr>


<div class="content">

<table class="table is-striped">
    <thead>
      <tr>
        <th>Nº</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Observaciones</th>
        <th>Link</th>
        <th>Imagen</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productoService.productos | paginate: {itemsPerPage: 10, currentPage: paginaActual}; index as i">
        <th>{{i+1}}</th>
        <td>{{producto.titulo}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.observaciones}}</td>
        <td>{{producto.link}}</td>
        <td><img class="img-responsive" src="{{producto.imagen}}" alt=""></td>
        <td>
            <button class="button is-warning is-outlined" (click)="updProductoForm(producto)"><span class="fas fa-edit"></span>Editar</button>
            <button class="button is-danger is-outlined" style="margin-top: 5px;" (click)="deleteProducto(producto._id)"><span class="fas fa-trash-alt"></span>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>

</div>

</div>

<div class="content">
    <ng-template [ngIf]="addProducto">
        <div id="modal" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Nuevo producto o servicio</p>
                    <button class="delete" aria-label="close" (click)="cerrarModal()"></button>
                </header>
                <section class="modal-card-body">

                    <form [formGroup]="postForm" (ngSubmit)='postProducto()'>

                        <div class="field">
                            <label class="label">Titulo</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Ingresa el titulo del producto o servicio" formControlName="titulo">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Descripcion</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa una breve descripción" formControlName="descripcion"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Precio</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa el precio del servicio o producto" formControlName="precio">
                              <span class="icon is-small is-left">
                                <i class="fas fa-dollar-sign"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <label class="label">Observaciones</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa las observaciones acerca del producto o servicio" formControlName="observaciones"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Link</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa un link para redireccionar para mas info" formControlName="link">
                              <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                              </span>
                            </p>
                          </div>


                          <div class="file is-centered is-success is-boxed">
                            <label class="file-label">
                              <input class="file-input" accept="image/*" type="file" (change)="uploadFile($event)">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Sube una foto…
                                </span>
                              </span>
                            </label>
                          </div>

                          <div class="content">

                            <div class="card">
                              <div class="card-image">
                                <div class="preview" *ngIf="preview && preview !== null">
                                  <figure class="image is-4by5">
                                    <img [src]="preview">
                                  </figure>
                                </div>
                              </div>
                            </div>
                          </div>
                       
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <button class="button is-link">Crear</button>
                            </div>
                          </div>
                    </form>

                </section>
            </div>
        </div>
    </ng-template>
</div>


<div class="content">
    <ng-template [ngIf]="updProducto">
        <div id="modalupd" class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Editar productos o servicios</p>
                    <button class="delete" aria-label="close" (click)="cerrarModalUpd()"></button>
                </header>
                <section class="modal-card-body">

                    <form [formGroup]="putForm" (ngSubmit)='putProducto()'>
                        <input type="hidden" formControlName="_id" [(ngModel)]="productoService.selectedProducto._id">

                        <div class="field">
                            <label class="label">Titulo</label>
                            <div class="control">
                              <input class="input" type="text" placeholder="Ingresa el titulo del producto o servicio" formControlName="titulo" [(ngModel)]="productoService.selectedProducto.titulo">
                            </div>
                          </div>
                          
                          <div class="field">
                            <label class="label">Descripcion</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa una breve descripción" formControlName="descripcion" [(ngModel)]="productoService.selectedProducto.descripcion"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Precio</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa el precio del producto o servicio" formControlName="precio" [(ngModel)]="productoService.selectedProducto.precio">
                              <span class="icon is-small is-left">
                                <i class="fas fa-dollar-sign"></i>
                              </span>
                            </p>
                          </div>

                          <div class="field">
                            <label class="label">Observaciones</label>
                            <div class="control">
                                <textarea class="textarea" placeholder="Ingresa las observaciones acerca del producto o servicio" formControlName="observaciones" [(ngModel)]="productoService.selectedProducto.observaciones"></textarea>
                            </div>
                          </div>

                          <div class="field">
                            <label class="label">Link</label>
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Ingresa un link para redireccionar para mas info" formControlName="link" [(ngModel)]="productoService.selectedProducto.link">
                              <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                              </span>
                            </p>
                          </div>

                          <input type="hidden" formControlName="image" [(ngModel)]="productoService.selectedProducto.imagen">

                          <div class="file is-centered is-success is-boxed">
                            <label class="file-label">
                              <input class="file-input" accept="image/*" type="file" (change)="updateFile($event)">
                              <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                  Sube una foto…
                                </span>
                              </span>
                            </label>
                          </div>

                          <div class="content">

                            <div class="card">
                              <div class="card-image">
                                <div class="preview" *ngIf="preview && preview !== null">
                                  <figure class="image is-4by5">
                                    <img [src]="preview">
                                  </figure>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          
                          <div class="field is-grouped">
                            <div class="control">
                              <button class="button is-link">Actualizar</button>
                            </div>
                          </div>
                    </form>

                </section>
            </div>
        </div>
    </ng-template>
</div>