<app-navbar></app-navbar>

<div class="container">
  <h1 class="title is-2">Lista de usuarios</h1>
  <a class="btn-floating btn waves-effect waves-light modal-trigger green" href="#modal1"><i class="material-icons">add</i></a>
  <button class="button is-dark is-outlined" style="margin-left: 5px;" [routerLink]="['/home']"><i class="fas fa-arrow-left" style="margin-right: 2px;"></i> Regresar</button>
  <hr>


  <div class="content">

  <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Edad</th>
          <th>Genero</th>
          <th>Rol</th>
          <th>Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarioService.usuarios | paginate: {itemsPerPage: 10, currentPage: paginaActual}; index as i">
          <th>{{i+1}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.edad}}</td>
          <td>{{usuario.genero}}</td>
          <td>{{usuario.rol}}</td>
          <td>
            <a class="btn-floating btn-small waves-effect waves-light modal-trigger yellow" (click)="updUsuarioForm(usuario)"><i class="material-icons">mode_edit</i></a>
            <a class="btn-floating btn-small waves-effect waves-light red accent-4" (click)="softDelete(usuario._id)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="paginaActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderCurrentLabel = "Estás en la página"></pagination-controls>

  </div>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Nuevo Usuario</h4>
      <p>Crea un nuevo usuario!</p>
      <hr>
      <div class="row">
        <form class="col s12" [formGroup]="postForm" (ngSubmit)='postUsuario()' novalidate>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_circle</i>
              <input id="nombre" name="nombre" type="text" class="validate" required minlength="6" maxlength="50" formControlName="nombre">
              <label for="nombre">Nombre</label>
              <div *ngIf="f.nombre.touched && !f.nombre.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="f.nombre.touched && f.nombre.errors || submitted && f.nombre.errors">
                <div *ngIf="f.nombre.errors.required">
                  <span class="helper-text" style="color: #d50000;">El nombre es requerido</span>
                </div>
                <div *ngIf="f.nombre.errors.minlength">
                  <span class="helper-text" style="color: #d50000;">El nombre debe contener al menos 6 caracteres</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" required class="validate" formControlName="correo">
              <label for="email">Email</label>
              <div *ngIf="f.correo.touched && !f.correo.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="f.correo.touched && f.correo.errors || submitted && f.correo.errors">
                <div *ngIf="f.correo.errors.required">
                  <span class="helper-text" style="color: #d50000;">El correo es requerido</span>
                </div>
                <div *ngIf="f.correo.errors.email">
                  <span class="helper-text" style="color: #d50000;">El correo es invalido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" minlength="6" required class="validate" formControlName="password">
              <label for="password">Password</label>
              <div *ngIf="f.password.touched && !f.password.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="f.password.touched && f.password.errors || submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">
                  <span class="helper-text" style="color: #d50000;">La contraseña es requerida</span>
                </div>
                <div *ngIf="f.password.errors.minlength">
                  <span class="helper-text" style="color: #d50000;">La contraseña debe tener al menos 6 caracteres</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">cake</i>
              <input id="edad" type="number" required min="18" class="validate" formControlName="edad">
              <label for="edad">Edad</label>
              <div *ngIf="f.edad.touched && !f.edad.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="f.edad.touched && f.edad.errors || submitted && f.edad.errors">
                <div  *ngIf="f.edad.errors.required">
                  <span class="helper-text" style="color: #d50000;">La edad es requerida</span>
                </div>
                <div *ngIf="f.edad.errors.min">
                  <span class="helper-text" style="color: #d50000;">Debes tener al menos 18 años</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <select id="genero" required formControlName="genero">
                <option value="" disabled selected>Escoje una opción</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
              <label>Genero</label>
              <div *ngIf="f.genero.touched && f.genero.errors || submitted && f.genero.errors">
                <div *ngIf="f.genero.errors.required">
                  <span class="helper-text" style="color: #d50000;">Debe selecionar un item</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <select id="rol" required formControlName="rol">
                <option value="" disabled selected>Escoje una opción</option>
                <option value="admin">Administrador</option>
                <option value="brigadista">Brigadista</option>
                <option value="usuario">Usuario</option>
              </select>
              <label>Rol</label>
              <div *ngIf="f.rol.touched && f.rol.errors || submitted && f.rol.errors">
                <div *ngIf="f.rol.errors.required">
                  <span class="helper-text" style="color: #d50000;">Debe selecionar un item</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m12 l12">
              <div class="file-field input-field">
                <div class="btn-small">
                  <span>Sube una foto</span>
                  <input type="file" accept="image/*" (change)="uploadFile($event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Sube tu foto de perfil">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" [disabled]="!postForm.valid">Crear
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">  
        <a class="modal-close waves-effect waves-red btn red" (click)="cerrarModal()"></a>
    </div>
  </div>

  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Editar</h4>
      <p>Modifica un usuario!</p>
      <hr>
      <div class="row">
        <form class="col s12" [formGroup]="putForm" (ngSubmit)='putUsuario()' novalidate>
          <div class="row">
            <input type="hidden" formControlName="_id" [(ngModel)]="usuarioService.selectedUsuario._id">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_circle</i>
              <input id="nombre2" type="text" class="validate" required minlength="6" maxlength="50" formControlName="nombre" [(ngModel)]="usuarioService.selectedUsuario.nombre">
              <label for="nombre2">Nombre</label>
              <div *ngIf="fp.nombre.touched && !fp.nombre.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="fp.nombre.touched && fp.nombre.errors || submitted && fp.nombre.errors">
                <div *ngIf="fp.nombre.errors.required">
                  <span class="helper-text" style="color: #d50000;">El nombre es requerido</span>
                </div>
                <div *ngIf="fp.nombre.errors.minlength">
                  <span class="helper-text" style="color: #d50000;">El nombre debe contener al menos 6 caracteres</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">email</i>
              <input id="email2" type="email" required class="validate" formControlName="correo" [(ngModel)]="usuarioService.selectedUsuario.correo">
              <label for="email2">Email</label>
              <div *ngIf="fp.correo.touched && !fp.correo.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="fp.correo.touched && fp.correo.errors || submitted && fp.correo.errors">
                <div *ngIf="fp.correo.errors.required">
                  <span class="helper-text" style="color: #d50000;">El correo es requerido</span>
                </div>
                <div *ngIf="fp.correo.errors.email">
                  <span class="helper-text" style="color: #d50000;">El correo es invalido</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">lock</i>
              <input id="password2" type="password" minlength="6" required class="validate" formControlName="password" [(ngModel)]="usuarioService.selectedUsuario.password">
              <label for="password2">Password</label>
              <div *ngIf="fp.password.touched && !fp.password.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="fp.password.touched && fp.password.errors || submitted && fp.password.errors">
                <div *ngIf="fp.password.errors.required">
                  <span class="helper-text" style="color: #d50000;">La contraseña es requerida</span>
                </div>
                <div *ngIf="fp.password.errors.minlength">
                  <span class="helper-text" style="color: #d50000;">La contraseña debe tener al menos 6 caracteres</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">cake</i>
              <input id="edad2" type="number" required min="18" class="validate" formControlName="edad" [(ngModel)]="usuarioService.selectedUsuario.edad">
              <label for="edad2">Edad</label>
              <div *ngIf="fp.edad.touched && !fp.edad.errors">
                <span class="helper-text" style="color: #4CAF50;">Bien</span>
              </div>
              <div *ngIf="fp.edad.touched && fp.edad.errors || submitted && fp.edad.errors">
                <div  *ngIf="fp.edad.errors.required">
                  <span class="helper-text" style="color: #d50000;">La edad es requerida</span>
                </div>
                <div *ngIf="fp.edad.errors.min">
                  <span class="helper-text" style="color: #d50000;">Debes tener al menos 18 años</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <select id="genero2" required formControlName="genero" [(ngModel)]="usuarioService.selectedUsuario.genero">
                <option value="" disabled>Escoje una opción</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
              <label>Genero</label>
              <div *ngIf="fp.genero.touched && fp.genero.errors || submitted && fp.genero.errors">
                <div *ngIf="fp.genero.errors.required">
                  <span class="helper-text" style="color: #d50000;">Debe selecionar un item</span>
                </div>
              </div>
            </div>
            <div class="input-field col s12 m6 l6">
              <select id="rol2" required formControlName="rol" [(ngModel)]="usuarioService.selectedUsuario.rol">
                <option value="" disabled>Escoje una opción</option>
                <option value="admin">Administrador</option>
                <option value="brigadista">Brigadista</option>
                <option value="usuario">Usuario</option>
              </select>
              <label>Rol</label>
              <div *ngIf="fp.rol.touched && fp.rol.errors || submitted && fp.rol.errors">
                <div *ngIf="fp.rol.errors.required">
                  <span class="helper-text" style="color: #d50000;">Debe selecionar un item</span>
                </div>
              </div>
            </div>
            <input type="hidden" formControlName="image" [(ngModel)]="usuarioService.selectedUsuario.imagen">
          </div>
          <div class="row">
            <div class="input-field col s6 m12 l12">
              <div class="file-field input-field">
                <div class="btn-small">
                  <span>Sube una foto</span>
                  <input type="file" accept="image/*" (change)="updateFile($event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Cambia tu foto de perfil">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" [disabled]="!putForm.valid">Actualizar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">  
        <a class="modal-close waves-effect waves-red btn red" (click)="cerrarModalUpd()"></a>
    </div>
  </div>
