<app-navbar></app-navbar>

<div class="container">

  <h1 class="title is-2">Lista de formularios</h1>
  <div class="row">
    <div class="col s6 m9 l9">
      <a class="waves-effect waves-light btn deep-orange lighten-1" style="margin-left: 5px;" [routerLink]="['/home']"><i class="material-icons left">arrow_back</i>Regresar</a>
    </div>
    <div class="col s6 m3 l3">
      <a class="waves-effect waves-light btn green accent-3" (click)="exportarToExcel()"><i class="material-icons left">file_download</i>Exportar a Excel</a>
    </div>
  </div>
  <hr>
  <div class="content">
    <table class="responsive-table highlight">
        <thead>
          <tr style="max-width: 200px;">
            <th style="overflow: auto;">Nº</th>
            <th style="overflow: auto;">Usuario</th>
            <th style="overflow: auto;">Fecha</th>
            <th style="overflow: auto;">¿En los últimos 6 meses se ha hecho la prueba de VIH?</th>
            <th style="overflow: auto;">¿En los últimos 6 meses usted ha tenido, alguna infección de transmisión sexual?</th>
            <th style="overflow: auto;">¿En los últimos 6 meses, ha tenido sexo anal o vaginal sin protección?</th>
            <th style="overflow: auto;">¿En los últimos 6 meses, usted ha tenido una pareja VIH positivo?</th>
            <th style="overflow: auto;">¿Usted utilizó condón, en su última relación sexual?</th>
            <th style="overflow: auto;">¿En los últimos 6 meses ha recibido Transfusiones de sangre?</th>
            <th style="overflow: auto;">De los siguientes servicios que oferta Kimirina ¿Cuál ha utilizado usted?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let formulario of formularioService.formularios | paginate: {itemsPerPage: 10, currentPage: paginaActual}; index as i">
            <th>{{i+1}}</th>
            <td>{{formulario.personaLlena}}</td>
            <td>{{formulario.fechaLlena}}</td>
            <td>{{formulario.pregunta1}}</td>
            <td>{{formulario.pregunta2}}</td>
            <td>{{formulario.pregunta3}}</td>
            <td>{{formulario.pregunta4}}</td>
            <td>{{formulario.pregunta5}}</td>
            <td>{{formulario.pregunta6}}</td>
            <td>{{formulario.pregunta7}}</td>
          </tr>
        </tbody>
      </table>
    
      <pagination-controls (pageChange)="paginaActual = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderCurrentLabel = "Estás en la página"></pagination-controls>
    
  </div>
</div>
